i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'lottery' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-moneybag:before {
  content: "\e97b";
}
.icon-redirect:before {
  content: "\e97c";
  color: #119ef8;
}
.icon-ticket:before {
  content: "\e97d";
  color: #fc0;
}
.icon-contact-2:before {
  content: "\e975";
}
.icon-contact-active-2:before {
  content: "\e976";
}
.icon-message-2:before {
  content: "\e977";
}
.icon-message-active-2:before {
  content: "\e978";
}
.icon-wallet-2:before {
  content: "\e979";
}
.icon-wallet-active-2:before {
  content: "\e97a";
}
.icon-dots-1:before {
  content: "\e972";
}
.icon-dots-2:before {
  content: "\e973";
}
.icon-dots-3:before {
  content: "\e974";
}
.icon-circleplus:before {
  content: "\e971";
}
.icon-imoji:before {
  content: "\e970";
}
.icon-airplane:before {
  content: "\e900";
}
.icon-arrow:before {
  content: "\e901";
}
.icon-arrowfill:before {
  content: "\e902";
}
.icon-basket:before {
  content: "\e903";
}
.icon-bell:before {
  content: "\e904";
}
.icon-bin:before {
  content: "\e905";
}
.icon-blocked:before {
  content: "\e906";
}
.icon-book:before {
  content: "\e907";
}
.icon-browser:before {
  content: "\e908";
}
.icon-camera:before {
  content: "\e909";
}
.icon-chaine:before {
  content: "\e90a";
}
.icon-checkmark:before {
  content: "\e90b";
}
.icon-chevronleft:before {
  content: "\e90c";
}
.icon-chevronright:before {
  content: "\e90d";
}
.icon-close:before {
  content: "\e90e";
}
.icon-compass:before {
  content: "\e90f";
}
.icon-contactlist:before {
  content: "\e910";
}
.icon-conversation:before {
  content: "\e911";
}
.icon-creditcard:before {
  content: "\e912";
}
.icon-document:before {
  content: "\e913";
}
.icon-documentcopy:before {
  content: "\e914";
}
.icon-documentempty:before {
  content: "\e915";
}
.icon-documentfull:before {
  content: "\e916";
}
.icon-documentminus:before {
  content: "\e917";
}
.icon-documentpaper:before {
  content: "\e918";
}
.icon-documentplus:before {
  content: "\e919";
}
.icon-dots3:before {
  content: "\e91a";
}
.icon-download:before {
  content: "\e91b";
}
.icon-downloadcloud:before {
  content: "\e91c";
}
.icon-exclamationmark:before {
  content: "\e91d";
}
.icon-eye:before {
  content: "\e91e";
}
.icon-eyenormal:before {
  content: "\e91f";
}
.icon-eyeslash:before {
  content: "\e920";
}
.icon-flag:before {
  content: "\e921";
}
.icon-gift:before {
  content: "\e922";
}
.icon-globedetail:before {
  content: "\e923";
}
.icon-globeline:before {
  content: "\e924";
}
.icon-hangup:before {
  content: "\e925";
}
.icon-heart:before {
  content: "\e926";
}
.icon-heartbroken:before {
  content: "\e927";
}
.icon-house:before {
  content: "\e928";
}
.icon-i:before {
  content: "\e929";
}
.icon-image:before {
  content: "\e92a";
}
.icon-imageminus:before {
  content: "\e92b";
}
.icon-imageperson:before {
  content: "\e92c";
}
.icon-imageplus:before {
  content: "\e92d";
}
.icon-joystick:before {
  content: "\e92e";
}
.icon-lamp:before {
  content: "\e92f";
}
.icon-letter:before {
  content: "\e930";
}
.icon-letteropen:before {
  content: "\e931";
}
.icon-lettersent:before {
  content: "\e932";
}
.icon-like:before {
  content: "\e933";
}
.icon-list:before {
  content: "\e934";
}
.icon-locationarea:before {
  content: "\e935";
}
.icon-locationpin:before {
  content: "\e936";
}
.icon-lockclosed:before {
  content: "\e937";
}
.icon-lockopen:before {
  content: "\e938";
}
.icon-map:before {
  content: "\e939";
}
.icon-maximize:before {
  content: "\e93a";
}
.icon-message:before {
  content: "\e93b";
}
.icon-microphone:before {
  content: "\e93c";
}
.icon-minimize:before {
  content: "\e93d";
}
.icon-moneybill:before {
  content: "\e93e";
}
.icon-mousepointer:before {
  content: "\e93f";
}
.icon-mute:before {
  content: "\e940";
}
.icon-onoff:before {
  content: "\e941";
}
.icon-paperclip:before {
  content: "\e942";
}
.icon-pencil:before {
  content: "\e943";
}
.icon-person:before {
  content: "\e944";
}
.icon-personadd:before {
  content: "\e945";
}
.icon-personfemale:before {
  content: "\e946";
}
.icon-persongroup:before {
  content: "\e947";
}
.icon-personmale:before {
  content: "\e948";
}
.icon-phone:before {
  content: "\e949";
}
.icon-phone_1:before {
  content: "\e94a";
}
.icon-phonelist:before {
  content: "\e94b";
}
.icon-pie:before {
  content: "\e94c";
}
.icon-pin:before {
  content: "\e94d";
}
.icon-play:before {
  content: "\e94e";
}
.icon-printer:before {
  content: "\e94f";
}
.icon-qrcode:before {
  content: "\e950";
}
.icon-refresh:before {
  content: "\e951";
}
.icon-reload:before {
  content: "\e952";
}
.icon-screen:before {
  content: "\e953";
}
.icon-search:before {
  content: "\e954";
}
.icon-searchsimple:before {
  content: "\e955";
}
.icon-settings:before {
  content: "\e956";
}
.icon-share:before {
  content: "\e957";
}
.icon-shield:before {
  content: "\e958";
}
.icon-shieldok:before {
  content: "\e959";
}
.icon-shieldx:before {
  content: "\e95a";
}
.icon-sound:before {
  content: "\e95b";
}
.icon-stack:before {
  content: "\e95c";
}
.icon-star:before {
  content: "\e95d";
}
.icon-stop:before {
  content: "\e95e";
}
.icon-tablet:before {
  content: "\e95f";
}
.icon-textcenter:before {
  content: "\e960";
}
.icon-textleftright:before {
  content: "\e961";
}
.icon-textrightleft:before {
  content: "\e962";
}
.icon-upload:before {
  content: "\e963";
}
.icon-uploadcloud:before {
  content: "\e964";
}
.icon-video:before {
  content: "\e965";
}
.icon-videotape:before {
  content: "\e966";
}
.icon-wallet:before {
  content: "\e967";
}
.icon-walletdollar:before {
  content: "\e968";
}
.icon-walletyen:before {
  content: "\e969";
}
.icon-watch3:before {
  content: "\e96a";
}
.icon-watch4:before {
  content: "\e96b";
}
.icon-watch10:before {
  content: "\e96c";
}
.icon-wrench:before {
  content: "\e96d";
}
.icon-zoomin:before {
  content: "\e96e";
}
.icon-zoomout:before {
  content: "\e96f";
}
