input.app-input {
    padding: 20px 100px 20px 12px;
    border: 2px solid #636363;
    border-radius: 14px;
    background-color: #2a2d32;
    height: 55px;
    font-size: 20px !important;
    width: 100%;
    color: white;

    ::-webkit-input-placeholder, 
    :-ms-input-placeholder, 
    ::placeholder {
        color: #636363;
    }
}

.app-input-group {
    width: 100%;
    position: relative;
    .append {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 12px;
        top: 0;
        bottom: 0;
        i {
            font-size: 24px;
            color: white;
        }
    }
}